<head>
    <link href="https://fonts.googleapis.com/css?family=Assistant" rel="stylesheet">
</head>
<style>
    body {
        font-family: 'Assistant', sans-serif;
    }
</style>
<div id="app"></div>
@section Scripts {
    @Scripts.Render("~/Nelnet_UI/build/index.js")
}