body {
}

.btn-logout {
    position:absolute;
    top:40px;
    right:30px;
}

.text-inline-input {
    float:left;
    padding-right:4px;
    padding-left:4px;
    padding-top:4px;
}

.btn-panel {
    position:absolute;
    right:20px;
    bottom:20px;
}