<?xml version="1.0" encoding="utf-8" ?>
<!-- make a copy of this file titled connections.config and insert your connection string there-->
<connectionStrings>
  <add name="NelnetPaymentProcessing"
       providerName="System.Data.SqlClient"
       connectionString="INSERT_CONNECTION_STRING_HERE" />
</connectionStrings>
