<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="NelnetPaymentProcessing"
         providerName="System.Data.SqlClient"
         connectionString="Data Source=.;Initial Catalog=NelnetPaymentProcessing;Integrated Security=True" />
  </connectionStrings>
</configuration>