
#background-image {
    background-image: url("../assets/images/login-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#background-overlay {
    background-color: black;
    opacity: 0.5;
}

.background {
    height: 100vh;
    width: 100vw;
    margin: 0;
    position: absolute;
    left: 0;
    top: 0;
}

.card-login {
    width: 400px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.label-login-header {
    font-size: 60px;
    text-align: center;
    display: block;
    margin-bottom: 40px;
    color: #747474;
}

.input-login {
    width: -webkit-fill-available;
    text-align: center;
    margin: 10px;
    background-color: #F5F5F5;
    border-style: solid;
    border-width: thin;
    border-color: #717171;
}

.btn-center {
    display: block;
    margin: 20px auto;
    width: 200px;
}
