body {
}

.input-account-creation {
    width: -webkit-fill-available;
    text-align: center;
    margin: 10px;
    background-color: #F5F5F5;
    border-style: solid;
    border-width: thin;
    border-color: #717171;
}